@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F6EE;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #152238;
    color: white;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
    font-weight: 600;
}

nav ul li a:hover {
    background-color: #1D2D44;
    color: wheat;
}

.logo {
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.logo img {
    width: 190px;
    cursor: pointer;
}

main {
    margin: 20px auto;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 20px;
}


.left {
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left p {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 1.3rem;

}

.left h1 {
    font-size: 3rem;
    color: maroon;
    margin: -10px 0 7px;
}

.right {
    width: 30%;
    animation: slideFromrright 1s ease forwards;
}

.right img {
    width: 100%;
    border-radius: 15px;
    cursor: url(/photos/pointer2.svg), pointer;
}

@keyframes slideFromrright {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#heading1, #heading2 {
    text-align: center;
    color: #152238;
    font-size: 2.4rem;
    margin-bottom: 10px;
    text-decoration: underline;
}

#p1, #p2 {
    text-align: center;
    color: maroon;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
    margin-bottom: 30px;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: lavender;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.service {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin: 20px 0;
    background-color: white;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-align-last: center;
}

.content h2 {
    color: maroon;
    font-size: 1.8rem;
    text-decoration: underline;
}

.content p {
    font-weight: 500;
    width: 95%;
    margin: 5px 0 15px;
    line-height: 1.4;
}

.content button {
    padding: 10px 25px;
    background-color: #152238;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.content button:hover {
    background-color: lavender;
    color: #152238;
    border: 1px solid #152238;
    transition: 0.2s;
}

.content button:active {
    transform: scale(0.95);
}

.image1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 25%;
}
.image2 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 25%;
}

.image1 img, .image2 img{
    width: 90%;
    border-radius: 15px;
    cursor: url(/photos/pointer2.svg), pointer;
}

.tool{
    width: 80%;
    margin: auto;
    text-align: justify;
    text-align-last: center;
}

.tool img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: url(/photos/pointer2.svg), pointer;
}

footer{
    background-color: #152238;
    color: white;
    padding: 20px 20px;
}
.fcontainer {
    display: flex;
    justify-content: space-around;
}

.fcontainer img {
    height: 120px;
    filter: invert(1);
    cursor: url(/photos/pointer2.svg), pointer;
}

.fcontent{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.fcontent p{
    text-align: justify;
    text-align-last: center;
    font-weight: 400;
    width: 90%;
    font-size: 0.8rem;
}
#fp{
    color: wheat;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.flink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flink h2{
    margin-bottom: 10px;
    color: #FFD700;
    text-align: center;
}

.flink a{
    color: rgb(196, 187, 187);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.flink a:hover{
    color: white;
}
.flink ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

